@import url("https://fonts.googleapis.com/css?family=Lora:400,400i|Open+Sans:300,400,600,700,800");
body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    color: #000;
    font-weight: 300;
}

h1 {
    font-size: 45px;
    line-height: 61px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 20px;
    line-height: 30px;
}

p, li, blockquote, label {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    color: #808080;
    margin-bottom: 0;
}

cite {
    font-size: 14px;
    font-style: normal;
}

.lora {
    font-family: "Lora", serif;
    font-style: italic;
}

.form-control::-webkit-input-placeholder {
    color: #808080;
    line-height: 25px;
    font-size: 16px;
}


ul.social-links {
    margin-bottom: 0;
}

ul.social-links li:first-child a {
    padding-left: 0;
}

ul.social-links li a {
    padding: 0 15px;
    display: block;
}

ul.social-links li a i {
    font-size: 20px;
    color: #000;
}

body {
    overflow-x: hidden;
}

.shadow, .service .service-box, .founder img, .team-sm .image img, .job-list .block, .privacy .block, .user-login .block .image img, .coming-soon .block .count-down .syotimer-cell {
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.08);
}

.overlay:before {
    content: '';
    background: rgba(105, 140, 230, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a {
    font-size: inherit;
    color: inherit;
}

a:focus,
a:hover {
    color: #2e7eed;
    text-decoration: none;
}


.bg-coming-soon {
    background: url(../images/background/comming-soon.jpg) fixed no-repeat;
    background-size: cover;
    background-position: bottom;
}

.section {
    padding: 100px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
}

.section-title h2 {
    font-size: 35px;
    margin-bottom: 13px;
}

.section-title p {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 480px) {
    .section-title p {
        width: 100%;
    }
}

.page-title {
    text-align: center;
}


.main-nav {
    background: #fff;
    z-index: 1;
}

.main-nav .navbar-brand {
    padding: 0;
}

.main-nav .navbar-nav .nav-item {
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.main-nav .navbar-nav .nav-item .nav-link {
    position: relative;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 45px;
}

@media (max-width: 992px) {
    .main-nav .navbar-nav .nav-item .nav-link {
        line-height: 25px;
    }
}

.main-nav .navbar-nav .nav-item .nav-link span i {
    font-size: 11px;
}

.main-nav .navbar-nav .nav-item.active .nav-link {
    color: #2e7eed;
}

.main-nav .navbar-nav .nav-item.active .nav-link:before {
    content: '';
    background: #2e7eed;
    width: 60%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 20%;
}

.main-nav .dropdown {
    position: relative;
}

.main-nav .dropdown .open > a,
.main-nav .dropdown .open > a:focus,
.main-nav .dropdown .open > a:hover {
    background: transparent;
}

.main-nav .dropdown.full-width .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
}

@media (max-width: 992px) {
    .main-nav .dropdown {
        -webkit-transform: none;
        transform: none;
        left: auto;
        position: relative;
        text-align: center;
    }
}

.main-nav .dropdown .dropdown-menu {
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    display: none;
    margin-top: 0;
}

.main-nav .dropdown .dropdown-menu.show {
    display: block;
}

@media (max-width: 992px) {
    .main-nav .dropdown .dropdown-menu {
        text-align: center;
        float: left !important;
        width: 100%;
        margin: 0;
    }
}

.main-nav .dropdown .dropdown-menu .dropdown-item {
    font-size: 13px;
    padding: 3px 22px;
    transition: .3s ease;
}

.main-nav .dropdown .dropdown-menu .dropdown-item.active, .main-nav .dropdown .dropdown-menu .dropdown-item.focus, .main-nav .dropdown .dropdown-menu .dropdown-item:focus, .main-nav .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #2e7eed;
}

.main-nav .dropdown .dropdown-menu li:first-child {
    margin-top: 10px;
}

.main-nav .dropdown .dropdown-menu li:last-child {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .main-nav .dropdown .dropdown-menu {
        position: absolute;
        display: block;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        transition: visibility 0.2s, opacity 0.2s, -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
        transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99), -webkit-transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    }
    .main-nav .dropdown:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        color: #777;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
@media (max-width: 992px) {
    .navbar>.container {
        flex-wrap: initial;
    }

    #navbarNav {
        display: block;
    }

    .navbar-nav {
       flex-direction: initial;
    }
}

.bg-blue {
    background: #2e7eed;
}
.btn-rounded-icon {
    border-radius: 100px;
    color: #fff;
    border: 1px solid #fff;
    padding: 13px 50px;
}


.dropdown-submenu.active > a,
.dropdown-submenu:hover > a {
    color: #2e7eed;
}

.dropleft .dropdown-menu,
.dropright .dropdown-menu {
    margin: 0;
}

.dropdown-toggle::after {
    display: none;
}

.dropleft .dropdown-toggle::before,
.dropright .dropdown-toggle::after {
    font-weight: bold;
    font-family: "themify";
    border: 0;
    font-size: 8px;
    vertical-align: 1px;
}

.dropleft .dropdown-toggle::before {
    content: "\e64a";
    margin-right: 5px;
}

.dropright .dropdown-toggle::after {
    content: "\e649";
    margin-left: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.footer-main {
    padding: 92px 0;
    background: #1a1b1f;
}

@media (max-width: 768px) {
    .footer-main {
        padding: 50px 0;
    }
}

.footer-main .block img {
    margin-bottom: 20px;
}

.footer-main .block img #small-Apps {
    fill: red;
}

.footer-main .block ul.social-icon li a {
    text-decoration: none;
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #3f3f43;
    color: #fff;
    text-align: center;
    line-height: 38px;
}

@media (max-width: 768px) {
    .footer-main .block {
        margin-bottom: 40px;
    }
}

.footer-main .block-2 h6 {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}

.footer-main .block-2 ul {
    padding: 0;
}

.footer-main .block-2 ul li {
    margin-bottom: 10px;
    list-style: none;
}

.footer-main .block-2 ul li a {
    font-size: 14px;
    color: #6f6f71;
    transition: .2s ease;
}

.footer-main .block-2 ul li a:hover {
    color: #fff;
}


.call-to-action-app {
    text-align: center;
}

.call-to-action-app h2,
.call-to-action-app p,
.call-to-action-app a {
    color: #fff !important;
}

.call-to-action-app p {
    margin-bottom: 60px;
}

.call-to-action-app ul li {
    margin: 10px;
}

@media (max-width: 480px) {
    .call-to-action-app ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.call-to-action-app ul li:first-child {
    margin-left: 0;
}

.call-to-action-app ul li a i {
    font-size: 20px;
    margin-right: 5px;
}


.gradient-banner {
    padding: 100px 0 170px;
    position: relative;
    overflow: hidden;
}

.gradient-banner::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #009EC5 0%, #2e7eed 20%, #02225B 50%);
    z-index: -1;
}

.pull-top {
    margin-top: -100px;
}

.counter-cart{
    background-color: darkgrey;
    border-radius: 50%;
    padding: 4px;
}
.have-items{
    background-color: darkorange;
}
